body {
    margin: auto;
    padding: auto;
    border: 2px solid #2C3E50;
    max-width: 800px;
    background-color: #F4F6F7;
}
@media (max-width: 750px) {
    body {
        border: 2px solid #2C3E50;
        width: 90%;
    }
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
h1 {
    color: #E4B03E;
    text-align: center;
    background-color: #2C3E50;
    padding: 10px;
    border-radius: 10px;
}
h2 {
    border-bottom: 2px solid #E4B03E;
    padding-bottom: 5px;
    color: #E4B03E;
    background-color: #2C3E50;
    padding: 5px;
    border-radius: 5px;
}
.profile {
    display: flex;
    align-items: center;
    background-color: #F9E79F;
    padding: 15px;
    border-radius: 10px;
}
 img {
    width: 1000px;
    height: 175px;
    border-radius: 50%;
    border: 2px solid #E4B03E;
    margin-right: 60px;
}
.resume {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #F9E79F;
    border-radius: 10px;
}
.education {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FDEBD0;
    border-radius: 5px;
}
footer {
    text-align: center;
    margin-top: 20px;
    background-color: #2C3E50;
    padding: 10px;
    border-radius: 10px;
    color: #E4B03E;
}